.pregunta1 {
   background-color: aqua
}
.content-div {
    border: 1px solid white;
}

.pregunta2{background-color: rgb(9, 253, 21);
}
.pregunta3{background-color: red;
}
.pregunta4{background-color: orange;
}
.pregunta5{background-color: white;
}
.pregunta6{background-color: rgb(252, 6, 252);
}